################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FWUtils.Droid/bin/Debug
/FWUtils.Droid/obj/Debug
/FWUtils.Droid/Resources
/FWUtils.PCL/bin/Debug
/FWUtils.PCL/obj/Debug
/PDFToImage.Droid/bin/Debug
/PDFToImage.Droid/obj
/PDFToImage.Droid/PDFToImage.Droid.csproj.user
/PDFToImage.Droid/GettingStarted.Xamarin
/PDFToImage.Droid/Videos - Shortcut.lnk
/PDFToImage.Droid/Resources/Resource.Designer.cs
/PDFToImage.Droid/Resources/AboutResources.txt
/.vs/Xamarin/v14
/.vs/Xamarin/v14/.suo
/packages
/FWUtils.Droid/FWUtils.Droid.csproj.bak
/PDFToImage.Droid/PDFToImage.Droid.csproj.bak
